<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
					switchValue="Information, ActivityTracing"
					propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "C:\Users\miquelta\Documents\WcfServiceWithAutofacAndLog4Net-Logs\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.serviceModel>
		
		<!-- REST SERVICE CONFIGS -->
		<services>
			<service name="WcfServiceWithAutofacAndLog4Net.WCF.Service1">
				<endpoint address="" binding="webHttpBinding" contract="WcfServiceWithAutofacAndLog4Net.WCF.IService1" behaviorConfiguration="webBehaviour" />
			</service>
		</services>
		
		<behaviors>
			
			<!-- API SOAP CONFIGS -->
			<!-- <serviceBehaviors>-->
			<!-- <behavior name="ServiceBehaviour">-->
			<!-- <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>-->
			<!-- <serviceDebug includeExceptionDetailInFaults="false"/>-->
			<!-- </behavior>-->
			<!-- </serviceBehaviors>-->
			
			<!-- API REST CONFIGS -->
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webBehaviour">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			
		</behaviors>
		<protocolMapping>
			
			<!-- REST CONFIGS -->
			<add binding="webHttpBinding" scheme="https" />
			
			<!-- SOAP CONFIGS -->
			<!-- <add binding="basicHttpsBinding" scheme="https"/> -->
			
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>